<header class="navbar navbar-light bg-light sticky-top p-2 shadow">
  <i (click)="toggleSidebar()" class="ms-2 fa fa-bars fa-2x menu-btn"></i>
  <div class="header-content">
    <span class="code-install">
      <app-code-snippet
        code="npm i ngx-painless-form">  
      </app-code-snippet>
    </span>
    <a class="text-decoration-none" style="color: rgb(203,56,55)" href="https://www.npmjs.com/package/ngx-painless-form" target="_blank">
      <i class="fab fa-npm fa-2x"></i>
    </a>
    <a class="text-decoration-none text-dark" href="https://github.com/brunotot/ngx-rapid-interface-builder" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
</header>