.menu-btn:hover {
  cursor: pointer;
}

header {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1057;
  height: 4.2rem;
  flex-wrap: nowrap;
  gap: 1rem;
}

.header-content {
  gap: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 476px) {
  .code-install {
    display: none;
  }
}
