.content-wrapper {
  transition: 0.5s;
  flex: 1
}

.content-wrapper-margin {
  margin-left: 250px;
}


@media (max-width: 600px) {
  .content-wrapper {
    margin-left: 0
  }
  .content-wrapper-margin {
    opacity: 0.5;
  }
}