.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightpink;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.sidebar > * {
  width: 100%
}

.sidebar-show {
  width: 250px;
}