html, 
body,
.page-wrapper {
  height: auto;
  min-height: 100%;
}

*:not(.fa):not(.fab):not(.far):not(.fas):not(code):not(code *) {
  font-family: 'Roboto', sans-serif !important;
}

code * {
  font-family: monospace !important;
}

.modal-dialog {
  margin-top: 5rem!important
}

.scrollbar-y::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-x::-webkit-scrollbar {
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25rem;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}